@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 158 98% 10%;
    --card: 60 56% 95%;
    --card-foreground: 158 98% 10%;
    --popover: 60 56% 95%;
    --popover-foreground: 158 98% 10%;
    --primary: 158 98% 10%;
    --primary-foreground: 60 56% 91%;
    --secondary: 19 15% 70%;
    --secondary-foreground: 158 98% 10%;
    --muted: 19 15% 80%;
    --muted-foreground: 19 15% 40%;
    --accent: 19 15% 56%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 19 15% 80%;
    --input: 19 15% 85%;
    --ring: 158 98% 10%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 158 50% 5%;
    --foreground: 60 56% 91%;
    --card: 158 50% 8%;
    --card-foreground: 60 56% 91%;
    --popover: 158 50% 5%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 158 98% 10%;
    --secondary: 19 15% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 19 15% 25%;
    --muted-foreground: 19 15% 65%;
    --accent: 19 15% 56%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 19 15% 25%;
    --input: 19 15% 25%;
    --ring: 60 56% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
